
.ReactModal__Overlay-default {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.459);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  background-color:rgb(255, 255, 255);
  border: 1px solid #dee2e6;

  padding: 20px;
  width: 100%;  
}

.ReactModal__Content--theme-default .ReactModal__Header {
  background-color: #eee;
}

.ReactModal__Content--theme-info .ReactModal__Header {
  background-color: #85b7bf;
  /* background-color: var(--info); */
}

.ReactModal__Content--theme-warning .ReactModal__Header  {
  background-color: #fde291;
  /* background-color: var(--warning); */
}

.ReactModal__Content--theme-danger .ReactModal__Header {
  background-color: #fbc5ca;
  /* background-color: var(--danger); */
}

.ReactModal__Content--width-mode-narrow {
  max-width: 350px;
}

.ReactModal__Content--width-mode-default {
  max-width: 500px;
}

.ReactModal__Content--width-mode-wide {
  max-width: 800px;
}


.ReactModal__Header {
  margin-top: -20px; 
  margin-left: -20px;
  margin-right: -20px;
  padding: 9px 20px;
  margin-bottom: 15px;
}
