.ReactModal {
  &__Header {
    margin-top: -20px; 
    margin-left: -20px;
    margin-right: -20px;
    padding: 9px 20px;
  }

  &__Content {
    &--theme-default {
      .ReactModal__Header {
        background-color: #eee;
      }
    }

    &--theme-info {
      .ReactModal__Header {
        background-color: #85b7bf;
      }
    }

    &--theme-warning {
      .ReactModal__Header {
        background-color: #fde291;
      }
    }

    &--theme-danger {
      .ReactModal__Header {
        background-color: #fbc5ca;
      }
    }
  }
}