
.ReactModal__Header {
  margin-top: -20px; 
  margin-left: -20px;
  margin-right: -20px;
  padding: 9px 20px;
}

.ReactModal__Content--theme-default .ReactModal__Header {
  background-color: #eee;
}

.ReactModal__Content--theme-info .ReactModal__Header {
  background-color: #85b7bf;
}

.ReactModal__Content--theme-warning .ReactModal__Header  {
  background-color: #fde291;
}

.ReactModal__Content--theme-danger .ReactModal__Header {
  background-color: #fbc5ca;
}