.products-list ul {
  display: flex;
  flex-wrap: wrap;
}

.products-list h1 {
  position: relative;
  padding-right: 40px;
}

.products-list  h1 .products-list__btn-add {
 position: absolute;
 right: 0;
 top: 5px; 
}


.product-item  {
  margin-bottom: 10px;
}

.product-item .product-item__name {
  margin-top: 10px;
}

.product-item .product-item__price {
  margin-bottom: 10px;
}
