.products-list ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.product-item  {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.product-item .product-item__name {
  margin-top: 10px;
}

.product-item .product-item__price {
  margin-bottom: 10px;
}